<a class="list-group-item list-group-item-action" style="cursor: pointer">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text text-truncate">
            {{ recipe.description }}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="col-4">
        <img
          [src]="recipe.imagePath"
          class="img-fluid rounded"
          [alt]="recipe.name"
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </div>
</a>
